{% extends 'base.html.twig' %}

{% block title %}
	{{ 'title.record_view'|trans}}
	{{ record.id }}
{% endblock %}

{% block body %}
	{{ 'title.record_view'|trans }}
	{{ record.id }}
	{% if record is defined and record|length %}
		<dl>
			<dt>{{ 'label.title'|trans }}</dt>
			<dd>{{ record.title }}</dd>
			<dt>{{ 'label.content'|trans }}</dt>
			<dd>{{ record.content }}</dd>
			<dt>{{ 'label.tags'|trans }}</dt>
			<dd>{{ record.tags|join(', ') }}</dd>
		</dl>
		<a href="{{ path('record_index') }}">
			<button type="button" class="btn btn-primary">
				{{ 'action.back_to_list'|trans }}
			</button>
		</a>
	{% else %}
		<p>
			{{ 'message.record_not_found'|trans }}
		</p>
	{% endif %}
{% endblock %}
