{% extends 'base.html.twig' %}

{% block title %} {{ categoryName|capitalize }} {% endblock %}

{% block body %}
	<div class="container">

		{% for posts_row in posts|batch(3) %}
			<div class="row mb-4">
				{% for post in posts_row %}
				<div class="col-lg-4 col-md-12">
					<div class="card bg-dark text-white" data-bs-toggle="modal" data-bs-target="#postModal{{ post.id }}">
						<div class="ratio ratio-4x3"> <!-- Adjust the aspect ratio here -->
							<img src="{{ post.postMedia.imageUrl }}" class="card-img" alt="{{ 'image of ' ~ post.caption }}" />
						</div>
						<div class="card-img-overlay">
							<h5 class="card-title text-center">{{ post.caption }}</h5>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" aria-labelledby="postModalLabel{{ post.id }}" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="postModalLabel{{ post.id }}">{{ post.caption }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								...
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
							</div>
						</div>
					</div>
				</div>	

				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}